<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<link rel="shortcut icon" th:href="@{/static/image/favicon/favicon.ico}"
		href="../../static/image/favicon/favicon.ico" />
	
	<title>Trader Rater</title>
	
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet"
		th:href="@{/static/bootstrap/css/bootstrap.min.css}"
		href="../../static/bootstrap/css/bootstrap.min.css" />
	
</head>

<body>

	<div th:include="header :: default">
	
		<div class="navbar navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}" href="./provider_index.html"
						th:text="#{header.title}">Trader Rater</a>
				</div>
				<div class="navbar-collapse collapse">
					<div class="navbar-form navbar-right" role="form">
						<a class="btn btn-default" th:href="@{/login_info}"	href="./login_info.html" role="button" th:text="#{header.login}">Login.</a>
					</div>
				</div>
				<!--/.navbar-collapse -->
			</div>
		</div>
		
	</div>

	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-10">
				<h2>How it works.</h2>
				<p>Tell us about your job.</p>
				<p>Get up to 3 calls from local tradesman.</p>
				<p>Choose the best quote.</p>
				<p>Provide rated feedback ona job well done.</p>
				<p>
					<a class="btn btn-default" th:href="@{/provider_search}"
						href="./provider_search.html" role="button">Lets get started.</a>
				</p>				
			</div>
		</div>

	</div>

	<hr />

	<div id="footer">
		<div class="container">
			<div th:include="footer :: copyright">© NetThreads 2014</div>
		</div>
	</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/static/jumbotron/js/jquery.min.js}"
		src="../../static/jumbotron/js/jquery.min.js"></script>
	<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"
		src="../../static/bootstrap/js/bootstrap.min.js"></script>


</body>
</html>